<div class="row about">
  <div class="medium-6 large-8 columns">
    <h4>About</h4>
    <br>
    <br>
    <br>
    <p align='center'>
      Oi, eu sou a <em>Regininha</em>. Dona do estabelecimento.<br>
      Essa é Lojita Capibara. Aqui <em>cê</em> encontra de tudo. Do bom e do barato.<br>
      O atendimento é vip. Os clientes são top &#8212 as roupas nem tanto.
    </p>
  </div>
  <div class="medium-6 large-4 columns">
    <img src="http://www.clicapiaui.com/wp-content/uploads/regina-case.jpg?a3385a">
  </div>
</div>
